<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width" />
<title>Guitar Calculator</title>
<script src="webjars/angularjs/1.6.2/angular.js"></script>
<script src="webjars/angular-translate/2.13.1/angular-translate.js"></script>
<script src="webjars/angular-translate-loader-static-files/2.13.1/angular-translate-loader-static-files.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/home.controller.js"></script>
<link rel="stylesheet" href="styles/style.css">
</head>
<body ng-app="app">
	<header>
		<div style="background-color:#c6a05a; height:48px;">
			<img src="images/fret-calc.png"> <div style="display:inline-block;position:absolute;color:#fff;font-weight:bold;font-size:24px;top:20px;left:60px">Guitar Calculator</div>
		</div>
	</header>
	<br/>

	<div class="tab-content">
		<input class="tab" type="radio" id="tab1" name="tab" checked><label
			for="tab1"><span translate="fretPositions"></span></label> <input class="tab" type="radio"
			id="tab2" name="tab"><label for="tab2"><span translate="saddlePosition"></span></label> <input class="tab" type="radio" id="tab3" name="tab"><label
			for="tab3"><span translate="fingerboardSize"></span></label> <input class="tab" type="radio"
			id="tab4" name="tab"><label for="tab4"><span translate="variousFretting"></span></label>
		<div class="tab-box">
			<div id="fret-positions-tab" ng-controller="fretPositionController">
				<p><span translate="fretPositionsNote"></span></p>
				<form ng-submit="calcFretPositions()">
					<table class="formTable">
						<tbody>
							<tr>
								<th><span translate="scale"></span></th>
								<td><input type="number" min="0" ng-model="scale" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1" required />mm</td>
							</tr>
							<tr>
								<th><span translate="numberOfFrets"></span></th>
								<td><input type="number" min="0" ng-model="numFrets" required/></td>
							</tr>
						</tbody>
					</table>
					<br /> <input type="submit" id="calcFretButton"/>
				</form>
				<br />
				<table class="dataTable">
					<thead>
						<tr>
							<th><span translate="fretNumber"></span></th>
							<th><span translate="positionFromNut"></span></th>
							<th><span translate="positionFromFret"></span></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="fret in frets">
							<td>{{ fret.fret }}</td>
							<td>{{ fret.positionFromNut | number:2 }}</td>
							<td>{{ fret.positionFromFret | number:2 }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="bridge-position-tab"
				ng-controller="bridgePositionController">
				<p><span translate="saddlePositionNote"></span></p>
				<form ng-submit="calcBridgePosition()">
					<table class="formTable">
						<tbody>
							<tr>
								<th><span translate="scale"></span></th>
								<td><input type="number" min="0" ng-model="scale" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1"　required/>mm</td>
							</tr>
							<tr>
								<th><span translate="jointPosition"></span></th>
								<td><input type="number" min="0" ng-model="jointPos"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1"required/>mm</td>
							</tr>
							<tr>
								<th><span translate="neckAngle"></span></th>
								<td><input type="number" min="0" ng-model="neckAngle"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1" required/><span translate="deg."></span></td>
							</tr>
							<tr>
								<th><span translate="stringHeight"></span></th>
								<td><input type="number" min="0" ng-model="stringHeight" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1" required/>mm</td>
							</tr>
							<tr>
								<th><span translate="fretHeight"></span></th>
								<td><input type="number" min="0" ng-model="fretHeight" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1"  required/>mm</td>
							</tr>
							<tr>
								<th><span translate="fingerboardThickness"></span></th>
								<td><input type="number" min="0" ng-model="thickness" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1" required/>mm</td>
							</tr>
							<tr>
							<td colspan="2"><input type="submit" id="calcBridgeButton"/></td>
							</tr>
							<tr>
								<th><span translate="saddleLocation"></span></th>
								<td>{{ saddlePosition | number:2 }}mm</td>
							</tr>
							<tr>
								<th><span translate="saddleHeight"></span></th>
								<td>{{ saddleHeight | number:2 }}mm</td>
							</tr>
						</tbody>
					</table>
					<br />
				</form>
			</div>
			<div id="fingerboard-size-tab"
				ng-controller="fingerboardSizeController">
				<p><span translate="fingerboardSizeNote"></span></p>
				<form ng-submit="calcFingerboardSize()">
					<table class="formTable">
						<tbody>
							<tr>
								<th><span translate="scale"></span></th>
								<td><input type="number" min="0" ng-model="scale" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1" required required/>mm</td>
							</tr>
							<tr>
								<th><span translate="numberOfStrings"></span></th>
								<td><input type="number" min="0" ng-model="numStrings"  required/></td>
							</tr>
							<tr>
								<th><span translate="numberOfFrets"></th>
								<td><input type="number" min="0" ng-model="numFrets"  required/></td>
							</tr>
							<tr>
								<th><span translate="pitchOfStringsAtNut"></span></th>
								<td><input type="number" min="0" ng-model="nutPitch" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1" required/>mm</td>
							</tr>
							<tr>
								<th><span translate="pitchOfStringsAtSaddle"></span></th>
								<td><input type="number" min="0" ng-model="saddlePitch" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1" required/>mm</td>
							</tr>
							<tr>
								<th><span translate="spacing"></span></th>
								<td><input type="number" min="0" ng-model="nutSpacing" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required/>mm</td>
							</tr>
							<tr>
							<td colspan="2"><input type="submit" id="calcFingerboardButton" /></td>
							</tr>
							<tr>
								<th><span translate="fingerboardLength"></span></th>
								<td>{{ length | number:2 }}mm</td>
							</tr>
							<tr>
								<th><span translate="fingerboardWidthAtNut"></span></th>
								<td>{{ nutWidth | number:2 }}mm</td>
							</tr>
							<tr>
								<th><span translate="fingerboardWidthAtEnd"></span></th>
								<td>{{ endWidth | number:2 }}mm</td>
							</tr>
						</tbody>
					</table>
					<br />
				</form>
			</div>
			<div id="various-fret-tab" ng-controller="variousFretController">
				<p><span translate="variousFrettingNote"></span></p>
				<p class="note"><span translate="notYetImplemented"></span></p>
			</div>
		</div>
	</div>
</body>
</html>