<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width" />
<title>Guitar Calculator</title>
<script src="webjars/angularjs/1.6.2/angular.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/home.controller.js"></script>
<link rel="stylesheet" href="styles/style.css">
</head>
<body ng-app="app">
	<header>
		<div style="background-color:#c6a05a; height:48px;">
			<img src="images/fret-calc.png"> <div style="display:inline-block;position:absolute;color:#fff;font-weight:bold;font-size:24px;top:20px;left:60px">Guitar Calculator</div>
		</div>
	</header>
	<br/>

	<div class="tab-content">
		<input class="tab" type="radio" id="tab1" name="tab" checked><label
			for="tab1">Fret Positions</label> <input class="tab" type="radio"
			id="tab2" name="tab"><label for="tab2">Bridge
			Position</label> <input class="tab" type="radio" id="tab3" name="tab"><label
			for="tab3">Fingerboard Size</label> <input class="tab" type="radio"
			id="tab4" name="tab"><label for="tab4">Various Fret
			Positions</label>
		<div class="tab-box">
			<div id="fret-positions-tab" ng-controller="fretPositionController">
				<form ng-submit="calcFretPositions()">
					<table class="formTable">
						<tbody>
							<tr>
								<th>Scale</th>
								<td><input type="number" min="0" ng-model="scale" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1" size="4" />mm</td>
							</tr>
							<tr>
								<th>Number of frets</th>
								<td><input type="number" min="0" ng-model="numFrets" size="4"/></td>
							</tr>
						</tbody>
					</table>
					<br /> <input type="submit" id="calcFretButton" value="Calculate" />
				</form>
				<br />
				<table class="dataTable">
					<thead>
						<tr>
							<th>Fret #</th>
							<th>Position from nut (mm)</th>
							<th>Position from fret (mm)</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="fret in frets">
							<td>{{ fret.fret }}</td>
							<td>{{ fret.positionFromNut | number:2 }}</td>
							<td>{{ fret.positionFromFret | number:2 }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="bridge-position-tab"
				ng-controller="bridgePositionController">
				<form ng-submit="calcBridgePosition()">
					<table class="formTable">
						<tbody>
							<tr>
								<th>Scale</th>
								<td><input type="number" min="0" ng-model="scale" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1"　size="4"/>mm</td>
							</tr>
							<tr>
								<th>Joint position</th>
								<td><input type="number" min="0" ng-model="jointPos"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1"size="4"/>mm</td>
							</tr>
							<tr>
								<th>Neck angle</th>
								<td><input type="number" min="0" ng-model="neckAngle"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1" size="4"/>deg.</td>
							</tr>
							<tr>
								<th>String height (12 fret)</th>
								<td><input type="number" min="0" ng-model="stringHeight" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1" size="4"/>mm</td>
							</tr>
							<tr>
								<th>Fret height</th>
								<td><input type="number" min="0" ng-model="fretHeight" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1"  size="4"/>mm</td>
							</tr>
							<tr>
								<th>Fingerboard thickness</th>
								<td><input type="number" min="0" ng-model="thickness" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1" size="4"/>mm</td>
							</tr>
							<tr>
							<td colspan="2"><input type="submit" id="calcBridgeButton" value="Calculate" /></td>
							</tr>
							<tr>
								<th>Saddle position</th>
								<td>{{ saddlePosition | number:2 }}mm</td>
							</tr>
							<tr>
								<th>Saddle height</th>
								<td>{{ saddleHeight | number:2 }}mm</td>
							</tr>
						</tbody>
					</table>
					<br />
				</form>
			</div>
			<div id="fingerboard-size-tab"
				ng-controller="fingerboardSizeController">
				<form ng-submit="calcFingerboardSize()">
					<table class="formTable">
						<tbody>
							<tr>
								<th>Scale</th>
								<td><input type="number" min="0" ng-model="scale" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1" size="4"/>mm</td>
							</tr>
							<tr>
								<th>Number of strings</th>
								<td><input type="number" min="0" ng-model="numStrings"  size="4"/></td>
							</tr>
							<tr>
								<th>Number of frets</th>
								<td><input type="number" min="0" ng-model="numFrets"  size="4"/></td>
							</tr>
							<tr>
								<th>Pitch of strings at nut</th>
								<td><input type="number" min="0" ng-model="nutPitch" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1" size="4"/>mm</td>
							</tr>
							<tr>
								<th>Pitch of strings at saddle</th>
								<td><input type="number" min="0" ng-model="saddlePitch" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1" size="4"/>mm</td>
							</tr>
							<tr>
								<th>Spacing from 1st string to edge at nut</th>
								<td><input type="number" min="0" ng-model="nutSpacing" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" size="4"/>mm</td>
							</tr>
							<tr>
							<td colspan="2"><input type="submit" id="calcFingerboardButton" value="Calculate" /></td>
							</tr>
							<tr>
								<th>Fingerboard length</th>
								<td>{{ length | number:2 }}mm</td>
							</tr>
							<tr>
								<th>Fingerboard width at nut</th>
								<td>{{ nutWidth | number:2 }}mm</td>
							</tr>
							<tr>
								<th>Fingerboard width at end</th>
								<td>{{ endWidth | number:2 }}mm</td>
							</tr>
						</tbody>
					</table>
					<br />
				</form>
			</div>
			<div id="various-fret-tab" ng-controller="variousFretController">
			</div>
		</div>
	</div>
</body>
</html>